{% extends "base.html" %}
{% load staticfiles %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <link rel="manifest" href="{% static 'polymer/manifest.json' %}">
    
    <script src="{% static 'polymer/bower_components/webcomponentsjs/webcomponents-loader.js' %}"></script>
    
    <link rel="import" href="{% static 'polymer/src/ballaverage-app/jugadorlist-card.html' %}">
    <link rel="import" href="{% static 'polymer/src/ballaverage-app/ballaverage-app.html' %}">
    <link rel="import" href="{% static 'polymer/bower_components/paper-fab/paper-fab.html' %}">
{% endblock %}

{% block page_title %}{{ title }}{% endblock %}
{% block title %} - {{ title }}{% endblock %}

{% block page_content %}
    <div class="plantilla-container">
        {% for jugador in object_list %}
        <jugadorlist-card 
            nombre="{{ jugador.nombre }}"
            apellido="{{ jugador.apellido }}"
            posicion="{{ jugador.posicion|default:'Suplente' }}"
            dorsal="{{ jugador.dorsal }}"
            equipo="{{ jugador.equipo }}"
            altura="{{ jugador.altura }}"
            rol="{{ jugador.get_rol_display|default:'Novato' }}"
            editar="{% url 'jugadores:update' jugador.id %}"
            borrar="{% url 'jugadores:delete' jugador.id %}"
            imagen="{{ jugador.image }}"
            fichar="{% url 'jugadores:fichar' jugador.id %}"
        ></jugadorlist-card>
        {% empty %}
            <h2>No hay jugadores registrados</h2>
        {% endfor %}
    </div>
    <a href="{% url 'jugadores:new' %}"><paper-fab icon="add"></paper-fab></a>
{% endblock %}