{% extends "base.html" %}

{% load material_form %} 
{% load staticfiles %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
{% endblock %}

{% block page_title %}{{ title }}{% endblock %}
{% block title %} - {{ title }}{% endblock %}
{% block page_content %}
    <div class="ballaverage-form">
        <h3>Edición de jugador</h3>
        <form method="POST" class="viewform" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" name="_submit" class="btn btn-primary btn-lg">Aceptar</button>
            <a style="margin-left: 2%;" href="{% url 'jugadores:list'  %}"><button type="button" class="btn btn-primary btn-lg">Cancelar</button></a>
        </form>
    </div>
{% endblock %}