{% extends "base.html" %}

{% load staticfiles %}

{% block page_head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="manifest" href="{% static 'polymer/manifest.json' %}">
<script src="{% static 'polymer/bower_components/webcomponentsjs/webcomponents-loader.js' %}"></script>
<link rel="import" href="{% static 'polymer/src/ballaverage-app/player-card.html' %}">
<link rel="import" href="{% static 'polymer/src/ballaverage-app/stats-card.html' %}">
{% endblock %}

{% block page_title %}{{ title }}{% endblock %}
{% block title %} - {{ jugador.nombre }} {{ jugador.apellido }}{% endblock %}
{% block page_content %}
    <div class="stats">
        <player-card    
            nombre="{{ jugador.nombre }}"
            apellido="{{ jugador.apellido }}"
            altura="{{ jugador.altura }}"
            peso="{{ jugador.peso }}"
            fnacimiento="{{ jugador.fnacimiento|default:'No se ha defininido' }}"
            imagen="{{ jugador.image }}"
            rol="{{ jugador.get_rol_display|default:'Novato' }}"
            dorsal="{{ jugador.dorsal }}"
            equipo="{{jugador.equipo|default:'Sin equipo'}}"
            posicion="{{ jugador.posicion|default:'No se ha defininido' }}"
            estadisticas="{{estadisticas}}"
            
        ></player-card>
        <stats-card equipos="{{lista_equipos}}"></stats-card>
    </div>
{% endblock %}