{% extends "login.html" %}
{% load material_form %} 

{% block page_title %}Registro de usuarios{% endblock %}
{% block page_content %}
    <div class="restore">
        <h3>Recuperar contraseña</h3>
        <form method="POST" class="viewform" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" name="_submit" class="btn btn-primary btn-lg">Enviar</button>
        </form>
    </div>
{% endblock %}