{% extends "login.html" %}
{% load material_form %} 

{% block page_title %}Recuperación de contraseña{% endblock %}

{% block page_content %}
    <div class="restore">
        <h3>Nueva contraseña</h3>
        {% if validlink %}
            <form method="POST" class="viewform">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button type="submit" name="_submit" class="btn btn-primary btn-lg">Cambiar contraseña</button>
            </form>
        {% else %}
            <p class="error">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO ANTERIORMENTE.</p>
        {% endif %}
    </div>
{% endblock %}