{% extends "login.html" %}
{% load material_form %} 

{% block page_title %}Recuperación de contraseña{% endblock %}
{% block page_content %}
    <div class="restore">
        <h5>Te hemos enviado un correo para poder restablecer tu contraseña</h5>
        <img id="img-login" src="../media/login.png" alt="">
        <p>Gracias por usar nuestros servicios</p>
    </div>
{% endblock %}