{% extends "login.html" %}
{% load material_form %} 

{% block page_title %}Recuperación de contraseña{% endblock %}

{% block page_content %}
    <div class="restore">
        <h4 class="text-center">Su contraseña se restableció correctamente</h4>
        <p class="text-center"><a href="{% url 'login:login' %}">Iniciar sesión</a></p>
    </div>
{% endblock %}