* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.plantilla-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
    flex-wrap: wrap;
}

html, body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background: #f1f1f1;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', Helvetica, sans-serif;
}

img {
    width: 200px;
    height: 200px;
}

app-toolbar {
    background-color: #4285f4;
    color: #fff;
    
}

section {
    z-index: 1;
}

.stats {
    margin: 4%;
}

.ballaverage-form {
    width: 70%;
    margin: 2% auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    background-color: white; 
    padding: 2%;
}

paper-fab {
    position: fixed;
    top: 90%;
    right: 50px;
    width: 60px;
    height: 60px;
    --paper-fab-background: #4285f4;
    --paper-fab-keyboard-focus-background: #4285f4;
    
  }

paper-fab:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}