html, body {
    background-color: #4285f4;
}


.ballaverage-login {
    width: 30%;
    margin: 5% auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    background-color: white; 
    border-radius: 15px;
    padding: 2%;
}

.ballaverage-register {
    width: 50%;
    margin: 2% auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    background-color: white; 
    border-radius: 15px;
    padding: 2%;
}

.restore {
    width: 30%;
    margin: 5% auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    background-color: white; 
    border-radius: 15px;
    padding: 2%;
    text-align: center;
}

.login-title {
    text-align: center;
}

#img-login {
    width: 80px;
    height: 80px;
    margin-bottom: 1%;
}

.error {
    color: red;
    font-size: 20px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
}

.foot {
    text-align: center;
}

hr {
    width: 50%;
}



@media only screen and (max-width: 1700px) {
    
    .ballaverage-login {
        width: 40%;
    }
    
}

@media only screen and (max-width: 950px) {
    
    .ballaverage-login {
        width: 90%;
        margin: 25% auto;
    }

    .ballaverage-register {
        width: 90%;
    }
    .ballaverage-register h2 {
        font-size: 30px;
    }
    .restore {
        width: 60%;
        margin: 25% auto;
    }
    .restore h3 {
        font-size: 30px;
    }

    .restore h4 {
        font-size: 25px;
    }

    .restore h5 {
        font-size: 18px;
    }


}