{% extends "login.html" %}
{% load material_form %} 

{% block page_title %}BallAverage{% endblock %}
{% block page_content %}
  <div class="ballaverage-login">
      <div class="login-title">
        <h2>BallAverage</h2>
        <img id="img-login" src="media/login.png" alt="">
      </div>
        <form method="POST" class="viewform" enctype="multipart/form-data">
          
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <br><a href="{% url 'login:password_reset' %}">Olvide mi contraseña</a><br><br>
            <button type="submit" name="_submit" class="btn btn-primary btn-lg">Entrar</button>
            <a href="{% url 'login:registrar' %}">Registrarse</a>
        </form>
  </div>
{% endblock %}