{% extends "login.html" %}
{% load material_form %} 

{% block page_title %}Registro de usuarios{% endblock %}
{% block page_content %}
    <div class="ballaverage-register">
        <h2>Registro BallAverage</h2>
        <form method="POST" class="viewform" enctype="multipart/form-data">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <button type="submit" name="_submit" class="btn btn-primary btn-lg">Registrar</button>
            <a style="margin-left: 2%;" href="{% url 'login:login' %}"><button type="button" class="btn btn-primary btn-lg">Cancelar</button></a>
        </form>
    </div>
{% endblock %}