{% extends "base.html" %}
{% load staticfiles %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    <link rel="manifest" href="{% static 'polymer/manifest.json' %}">
    
    <script src="{% static 'polymer/bower_components/webcomponentsjs/webcomponents-loader.js' %}"></script>
    
    <link rel="import" href="{% static 'polymer/src/ballaverage-app/team-card.html' %}">
    <link rel="import" href="{% static 'polymer/src/ballaverage-app/ballaverage-app.html' %}">
    <link rel="import" href="{% static 'polymer/bower_components/paper-fab/paper-fab.html' %}">
{% endblock %}

{% block page_title %}{{ title }}{% endblock %}
{% block title %} - {{ title }}{% endblock %}

{% block page_content %}
    <div class="container">
        {% for equipo in object_list %}
            <div>
                <team-card
                    nombre="{{ equipo.nombre.upper }}"
                    imagen="{{ equipo.image.url }}"
                    localidad="{{ equipo.localidad }}"
                    campo="{{equipo.campo|default:'No se ha defininido'}}"
                    web="{{equipo.web|default:'No se ha defininido' }}"
                    plantilla="{% url 'equipos:detail' equipo.id %}"
                    editar="{% url 'equipos:update' equipo.id %}"
                    borrar="{% url 'equipos:delete' equipo.id %}"
                ></team-card>
            </div>
        {% empty %}
            <h2>No hay equipos registrados</h2>
        {% endfor %}
    </div>
    <a href="{% url 'equipos:new' %}"><paper-fab icon="add"></paper-fab></a>
{% endblock %}