{% extends "base.html" %}
{% load staticfiles %}

{% block page_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="manifest" href="{% static 'polymer/manifest.json' %}">
    <script src="{% static 'polymer/bower_components/webcomponentsjs/webcomponents-loader.js' %}"></script>
    <link rel="import" href="{% static 'polymer/src/ballaverage-app/plantilla-card.html' %}">
{% endblock %}

{% block page_title %}{{ title }}{% endblock %}
{% block title %} - {{ title }}{% endblock %}

{% block page_content %}
    <div class="plantilla-container">
        {% for jugador in jugadores %}
                <plantilla-card 
                    nombre="{{ jugador.nombre }}"
                    apellido="{{ jugador.apellido }}"
                    posicion="{{ jugador.posicion|default:'Suplente' }}"
                    dorsal="{{ jugador.dorsal }}"
                    equipo="{{ jugador.equipo }}"
                    borrar="{% url 'equipos:quitar' jugador.id equipo.id %}"
                    estadisticas="{% url 'jugadores:detail' jugador.id %}"
                    imagen="{{ jugador.image }}"
                ></plantilla-card>
        {% empty %}
            <h2>No hay jugadores en este equipo</h2>
        {% endfor %}
    </div>
{% endblock %}