<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-layout/demo/sample-content.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/places-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">

<link rel="import" href="../../bower_components/paper-drawer/paper-drawer.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-title.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-icon-item.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-subheader.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-divider.html">
<link rel="import" href="../../bower_components/paper-drawer/paper-drawer-item.html">


<dom-module id="ballaverage-app">
  <template>
    <style>
      :host {
        display: block;
      }
      
      body {
        /* No margin on body so toolbar can span the screen */
        margin: 0;
      }

      app-drawer-layout {
        z-index: 5;
      }

      app-toolbar {
        /* Toolbar is the main header, so give it some color */
        background-color: #1E88E5;
        font-family: 'Roboto', Helvetica, sans-serif;
        color: white;
        --app-toolbar-font-size: 24px;
      }

      paper-tabs {
        background-color: #1E88E5;
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        width: 100%;
        text-transform: uppercase;
      }

      app-drawer {
        --app-drawer-content-container: {
          box-shadow: 1px 0 2px 1px rgba(0,0,0,0.18);
        }
        --app-drawer-scrim-background: rgba(179, 157, 219, 0.5);
      }

      html, body {
        margin: 0;
        font-family: 'Roboto', 'Noto', sans-serif;
        -webkit-font-smoothing: antialiased;
        background: #f1f1f1;
        max-height: 368px;
      }

      app-toolbar {
        background-color: #4285f4;
        color: #fff;
      }
  
      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
  
      paper-icon-button + [main-title] {
        margin-left: 24px;
      }

      paper-progress {
        display: block;
        width: 100%;
        --paper-progress-active-color: rgba(255, 255, 255, 0.5);
        --paper-progress-container-color: transparent;
      }

      app-header {
        @apply --layout-fixed-top;
        color: #fff;
        --app-header-background-rear-layer: {
          background-color: #ef6c00;
        };
      }

      app-drawer {
        --app-drawer-scrim-background: rgba(235, 235, 255, 0.9);
        --app-drawer-content-container: {
          background-color: white;
        }
      }

      sample-content {
        padding-top: 64px;
      }
      
      .maintitle {
        text-decoration: none;
        color: white;
        margin-left:2%;
      }

      @media only screen and (max-width: 810px) {
        .maintitle {
            font-size: 18px;
        }
    }
    </style>

    <app-drawer-layout force-narrow>

        <app-drawer slot="drawer" swipe-open>
          <paper-drawer>
            <paper-drawer-title photo="../../../../media/player2.jpg" name="[[usuario]]" email="[[email]]"></paper-drawer-title>
            
            <paper-drawer-subheader>BallAverage</paper-drawer-subheader>
            <a href="http://localhost:8000/equipos/"><paper-drawer-icon-item icon="social:people">Equipos</paper-drawer-icon-item></a>
            <a href="http://localhost:8000/jugadores/"><paper-drawer-icon-item icon="social:person">Jugadores</paper-drawer-icon-item></a>
            <a href="http://localhost:8000/partidos/new"><paper-drawer-icon-item icon="places:fitness-center">Partidos</paper-drawer-icon-item></a>
            <a href="http://localhost:8000/estadisticas/new"><paper-drawer-icon-item icon="icons:trending-up">Estadísticas</paper-drawer-icon-item></a>

            <paper-drawer-divider></paper-drawer-divider>
            
            <paper-drawer-subheader>Configuración</paper-drawer-subheader>
            <a href="http://localhost:8000/admin/"><paper-drawer-icon-item icon="icons:build">Admin</paper-drawer-icon-item></a>
            <a href="http://localhost:8000/logout/"><paper-drawer-icon-item icon="icons:exit-to-app">Logout</paper-drawer-icon-item></a>          
          </paper-drawer>
        </app-drawer>
    
        <app-header-layout fullbleed>
          <app-header effects="waterfall" slot="header" reveals condenses shadow>
            <app-toolbar>
              <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
              <a class="maintitle" href="http://localhost:8000/equipos/"><div main-title>[[title]]</div></a>
            </app-toolbar>
          </app-header>
        </app-header-layout>
        
      </app-drawer-layout>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BallaverageApp extends Polymer.Element {
      static get is() { return 'ballaverage-app'; }
      static get properties() {
        return {
          title: String,
          usuario: String,
          email: String,
        };
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
      }

    }

    window.customElements.define(BallaverageApp.is, BallaverageApp);
  </script>
</dom-module>
