<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="jugadorlist-card">
    <template>
        <style>
            :host {
                display: flex;
                justify-content: center;
                margin: 2%;
            }

            paper-card {
                margin: 2%;
                max-width: 480px;
                min-width: 480px;
            }

            .card-content {
                display: flex;
                flex-direction: row;
            }
            
           iron-image {
                width: 150px;
                height: 150px;
                margin: 20% auto;
                border-radius: 50%;
                
            }

            .player-img {
                display: flex;
                justify-content: space-around;
                margin: 1%;
            
            }

            .card-actions {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            paper-button {
                height: 35px;
                margin: 5px;
            }
            .btn-edit {
                background-color: var(--google-green-500);
                color: white;
            }
            .btn-delete {
                background-color: var(--google-red-500);
                color: white;
            }
            
            #fichar {
                color: var(--google-blue-500);
            }

            a {
                text-decoration: none;
            }

            .info {
                width: 100%;
            }

            @media only screen and (max-width: 810px) {
                paper-card {
                    margin: 10%;
                    max-width: 380px;
                    min-width: 380px;
                }
            }

        </style>
     
        <paper-card class="card" elevation="2">
            <div class="card-content">
                <div class="player-img"><iron-image src="../../../media/[[imagen]]" sizing="cover" alt="Jugador [[nombre]]"></iron-image></div>
                <div class="info">
                    <h2>[[nombreCompleto]] #[[dorsal]]</h2>
                    <hr>
                    <template is="dom-if" if="{{!_isEquals(equipo, 'None')}}">
                        <p>[[posicion]] en [[equipo]]</p>
                    </template>
                    <template is="dom-if" if="{{_isEquals(equipo, 'None')}}">
                            <p>Sin equipo([[posicion]])</p>
                    </template>
                    <p>[[rol]]</p>
                    <p>[[altura]] cm</p>
                </div>
            </div>
            <div class="card-actions">
                    <template is="dom-if" if="{{_isEquals(equipo, 'None')}}">
                        <paper-button id="fichar" noink on-click="abrirDialogFichaje">Fichar jugador</paper-button>
                    </template>
                <a href="[[editar]]"><paper-button class="btn-edit" raised><iron-icon icon="editor:mode-edit"></iron-icon>Editar</paper-button></a>
                <paper-button class="btn-delete" raised on-click="abrirDialog"><iron-icon icon="delete"></iron-icon>Borrar</paper-button>
            </div>
        </paper-card>

        <paper-dialog id="deleteDialog" with-backdrop>
                <h2>¿Desea eliminar el jugador [[nombreCompleto]]?</h2>
                <p>Si está asociado a un equipo, se dará de baja al jugador.</p>
                <p>No se podrán deshacer los cambios.</p>
                <a href="[[borrar]]"><paper-button dialog-confirm autofocus>Aceptar</paper-button></a>
                <paper-button dialog-dismiss>Cancelar</paper-button>
        </paper-dialog>

        <paper-dialog id="ficharDialog" with-backdrop>
                <h2>¿Desea fichar al jugador [[nombreCompleto]]?</h2>
                <p>El jugador se añadira a la plantilla del CBLEGANES.</p>
                <a href="[[fichar]]"><paper-button dialog-confirm autofocus>Aceptar</paper-button></a>
                <paper-button dialog-dismiss>Cancelar</paper-button>
        </paper-dialog>

    </template>

    <script>
        /**
         * `jugadorlist-card` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class JugadorListCard extends Polymer.Element {
            static get is() {
                return 'jugadorlist-card';
            }
            static get properties() {
                return {
                    nombre: String,
                    apellido: String,
                    imagen: String,
                    equipo: String,
                    dorsal: String,
                    posicion: String,
                    nombreCompleto: {
                        type: String,
                        computed: 'getNomreCompleto(nombre,apellido)',
                    },
                    editar: String,
                    borrar: String,
                    fichar: String,
                    altura: String,
                    rol: String,
                };
            }
            constructor() {
                super();
              }
        
            getNomreCompleto(nombre, apellido) {
                return nombre + ' ' + apellido;
            }

            _isEquals(equipo, string) {
                return equipo == string
            }

            abrirDialog() {
                document.body.appendChild(this.$.deleteDialog);
                this.$.deleteDialog.open();
            }

            abrirDialogFichaje() {
                document.body.appendChild(this.$.ficharDialog);
                this.$.ficharDialog.open();
            }
        }

        window.customElements.define(JugadorListCard.is, JugadorListCard);
    </script>
</dom-module>