<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="plantilla-card">
    <template>
        <style>
            :host {
                display: flex;
                justify-content: center;
                margin: 2%;
            }

            paper-card {
                margin: 2%;
                max-width: 480px;
                min-width: 480px;
            }

            .card-content {
                display: flex;
                flex-direction: row;
            }
            
           iron-image {
                width: 150px;
                height: 150px;
                margin: 20% auto;
                border-radius: 50%;
            }

            .player-img {
                display: flex;
                justify-content: space-around;
                margin: 1%;
            
            }

            .card-actions {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            paper-button {
                height: 35px;
                margin: 5px;
            }
            .btn-edit {
                background-color: var(--google-green-500);
                color: white;
            }
            .btn-delete {
                background-color: var(--google-red-500);
                color: white;
            }

            #estadistica {
                color: var(--google-blue-500);
            }
            a {
                text-decoration: none;
            }

            .info {
                width: 100%;
            }

            @media only screen and (max-width: 810px) {
                paper-card {
                    margin: 15%;
                    max-width: 350px;
                    min-width: 350px;
                }
            }

        </style>
     
        <paper-card class="card" elevation="2">
            <div class="card-content">
                <div class="player-img"><iron-image src="../../../media/[[imagen]]" sizing="cover" alt="Jugador [[nombre]]"></iron-image></div>
                <div class="info">
                    <h2>[[nombreCompleto]] #[[dorsal]]</h2>
                    <hr>
                    <p>[[posicion]] en [[equipo]]</p>
                </div>
            </div>
            <div class="card-actions">
                <a id="estadistica" href="[[estadisticas]]"><paper-button noink>Ver Estadísticas</paper-button></a>
                <paper-button class="btn-delete" raised on-click="abrirDialog"><iron-icon icon="delete"></iron-icon>Quitar del equipo</paper-button>
            </div>
        </paper-card>

        <paper-dialog id="deleteDialog" with-backdrop>
                <h2>¿Desea sacar del equipo al jugador [[nombreCompleto]]?</h2>
                <p>Se podrá volver a fichar en el apartado de jugadores.</p>
                <a href="[[borrar]]"><paper-button dialog-confirm autofocus>Aceptar</paper-button></a>
                <paper-button dialog-dismiss>Cancelar</paper-button>
        </paper-dialog>

    </template>

    <script>
        /**
         * `plantilla-card` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PlantillaCard extends Polymer.Element {
            static get is() {
                return 'plantilla-card';
            }
            static get properties() {
                return {
                    nombre: String,
                    apellido: String,
                    imagen: String,
                    equipo: String,
                    dorsal: String,
                    posicion: String,
                    nombreCompleto: {
                        type: String,
                        computed: 'getNomreCompleto(nombre,apellido)',
                    },
                    editar: String,
                    borrar: String,
                    estadisticas: String,
                };
            }
            constructor() {
                super();
              }
        
            getNomreCompleto(nombre, apellido) {
                return nombre + ' ' + apellido;
            }

            abrirDialog() {
                document.body.appendChild(this.$.deleteDialog);
                this.$.deleteDialog.open();
            }
        }

        window.customElements.define(PlantillaCard.is, PlantillaCard);
    </script>
</dom-module>