<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../../bower_components/google-chart/google-chart.html">

<dom-module id="player-card">
    <template>
        <style>
            :host {
                display: flex;
                justify-content: center;
            }
            paper-card {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin: 2%;
            }

            iron-image {
                width: 200px;
                height: 200px;
                margin: 20% auto;
                border-radius: 50%;
            }

            .player-img {
                display: flex;
                width: 20%;
                justify-content: space-around;
            }

            .card-content {
                width: 80%;
                padding: 9px;
                vertical-align: middle;
                display: flex;
            }

            .info {
                width: 20%;
            }

            .container-stats {
                width: 80%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;   
            }

            .stats, .charts {
                text-align: center;
                display: flex;
                justify-content: space-around;
            }

            .prueba {
                display: inline-block;
            }

            @media only screen and (max-width: 1900px) {

                google-chart {
                    height: 250px;
                    width: 300px;
                }
            }

            @media only screen and (max-width: 1600px) {

                google-chart {
                    height: 200px;
                    width: 250px;
                }
            }
            
            @media only screen and (max-width: 1400px) {

                google-chart {
                    height: 200px;
                    width: 200px;
                }
            }

            @media only screen and (max-width: 1070px) {
                iron-image {
                    width: 100px;
                    height: 100px;
                    margin: 5% auto;
                }

                .info {
                    width: 35%;
                }

                .container-stats {
                    width: 65%;
                }

                google-chart {
                    height: 120px;
                    width: 120px;
                }
            }

            @media only screen and (max-width: 810px) {
                paper-card {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 10%;
                }
                
                .player-img {
                    width: 100%;
                }

                iron-image {
                    width: 100px;
                    height: 100px;
                    margin: 5% auto;
                }

                .card-content {
                    width: 95%;
                    flex-direction: column;
                }
                .container-stats {
                    width: 100%;
                }
                .info {
                    width: 100%;
                }
            }
            

        </style>
            <paper-card class="card" elevation="2">
                    <div class="player-img"><iron-image src="../../../media/[[imagen]]" sizing="cover" alt="Jugador [[nombre]]"></iron-image></div>
                    
                    <div class="card-content">
                        <div class="info">
                            <h2>[[nombreCompleto]] #[[dorsal]]</h2>
                            <hr>
                            <p><strong>F.nacimiento: </strong>[[fnacimiento]]</p>
                            <p><strong>Altura: </strong>[[altura]] cm</p>
                            <p><strong>Peso: </strong>[[peso]] kg</p>
                            <hr>
                            <p><strong>Equipo: </strong>[[equipo]]</p>
                            <p><strong>Posición: </strong>[[posicion]]</p>
                            <p><strong>Perfil: </strong>[[rol]]</p>
                        </div>
                        <div class="container-stats">
                            <div class="stats">
                                <h2>Puntos: [[ppp]]</h2>
                                <h2>Rebotes: [[rpp]]</h2>
                                <h2>Asistencias: [[app]]</h2>
                            </div>
                            <div class="charts">
                                <google-chart
                                    id="chart1"
                                    type='pie'
                                    options='{
                                        "title": "TIROS DE 2",
                                        "pieHole": 0.5, 
                                        "pieStartAngle": 180, 
                                        "legend": "none",
                                        "pieSliceText": "none",
                                        "pieSliceTextStyle": {
                                            "color": "black"
                                          },
                                        "slices": {
                                            "0": {"color": "blue"},
                                            "1": {"color": "lightgrey"}
                                        }}'
                                    cols='[{"label":"Concepto", "type":"string"}, {"label":"Porcentaje", "type":"number"}]'
                                    rows$='[[tiro2]]'>
                                </google-chart>
                                <google-chart
                                    type='pie'
                                    options='{
                                        "title": "TIROS DE 3",
                                        "pieHole": 0.5, 
                                        "pieStartAngle": 180, 
                                        "legend": "none",
                                        "pieSliceText": "none", 
                                        "slices": {
                                            "0": {"color": "blue"},
                                            "1": {"color": "lightgrey"}
                                        }}'
                                    cols='[{"label":"Concepto", "type":"string"}, {"label":"Porcentaje", "type":"number"}]'
                                    rows$='[[tiro3]]'>
                                </google-chart>
                                <google-chart
                                    type='pie'
                                    options='{
                                        "title": "TIROS DE TL",
                                        "pieHole": 0.5, 
                                        "pieStartAngle": 180, 
                                        "legend": "none",
                                        "pieSliceText": "none", 
                                        "slices": {
                                            "0": {"color": "blue"},
                                            "1": {"color": "lightgrey"}
                                        }}'
                                    cols='[{"label":"Concepto", "type":"string"}, {"label":"Porcentaje", "type":"number"}]'
                                    rows$='[[tiroL]]'>
                                </google-chart>
                            </div>
                        </div>
                    </div>
                </paper-card>
    </template>

    <script>
        /**
         * `player-card` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class PlayerCard extends Polymer.Element {
            static get is() {
                return 'player-card';
            }

            static get properties() {
                return {
                    nombre: String,
                    apellido: String,
                    nombreCompleto: {
                        type: String,
                        computed: 'getNomreCompleto(nombre,apellido)',
                    },
                    altura: Number,
                    peso: Number,
                    dorsal: Number,
                    fnacimiento: String,
                    equipo: String,
                    posicion: String,
                    rol: String,
                    imagen: String,
                    estadisticas: Array,
                    ppp: {
                        type: String,
                        computed: 'getMediaPuntos(estadisticas)',
                    },
                    rpp: {
                        type: String,
                        computed: 'getMediaRebotes(estadisticas)',
                    },
                    app: {
                        type: String,
                        computed: 'getMediaAsistencias(estadisticas)',
                    },
                    tiro2: {
                        type: String,
                        computed: 'getTiros2(estadisticas)',
                    },
                    tiro3: {
                        type: String,
                        computed: 'getTiros3(estadisticas)',
                    },
                    tiroL: {
                        type: String,
                        computed: 'getTirosLibres(estadisticas)',
                    },
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

            getNomreCompleto(nombre, apellido) {
                return nombre + ' ' + apellido;
            }

            getMediaPuntos(estadisticas) {
                var suma = 0;
                if(estadisticas.length != 0) {
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.puntos;
                    }
                    return (suma/estadisticas.length).toFixed(2);
                } else {
                    return (0).toFixed(1);
                }
                
            }

            getMediaRebotes(estadisticas) {
                var suma = 0;
                if(estadisticas.length != 0) {
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.rebotes;
                    }
                    return (suma/estadisticas.length).toFixed(2);
                } else {
                    return (0).toFixed(1);
                }
            }

            getMediaAsistencias(estadisticas) {
                var suma = 0;
                if(estadisticas.length != 0) {
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.asistencias;
                    }
                    return (suma/estadisticas.length).toFixed(2);
                } else {
                    return (0).toFixed(1);
                }
            }

            getTiros2(estadisticas) {
                var suma = 0;
                var averageM= 0;
                var averageF= 0;
                if(estadisticas.length != 0) {
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.t2m;
                    }
                    averageM=suma;
                    suma=0;
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.t2f;
                    }
                    averageF=suma;
                }
                var resultado = '[["Metidos", ' + averageM + '],["Fallados", '+ averageF + ']]'
                return resultado;
            }

            getTiros3(estadisticas) {
                var suma = 0;
                var averageM= 0;
                var averageF= 0;
                if(estadisticas.length != 0) {
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.t3m;
                    }
                    averageM=suma;
                    suma=0;
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.t3f;
                    }
                    averageF=suma;
                }
                var resultado = '[["Metidos", ' + averageM + '],["Fallados", '+ averageF + ']]'
                return resultado;
            }

            getTirosLibres(estadisticas) {
                var suma = 0;
                var averageM= 0;
                var averageF= 0;
                if(estadisticas.length != 0) {
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.tlm;
                    }
                    averageM=suma;
                    suma=0;
                    for(let i=0; i<estadisticas.length; i++) {
                        suma += estadisticas[i].fields.tlf;
                    }
                    averageF=suma;
                }
                var resultado = '[["Metidos", ' + averageM + '],["Fallados", '+ averageF + ']]'
                return resultado;
            }
        }

        window.customElements.define(PlayerCard.is, PlayerCard);
    </script>
</dom-module>