<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="stats-card">
    <template>
        <style>
            :host {
                display: block;
                text-align: center;
            }
        </style>

        <template is="dom-repeat" items="{{equipos}}" as="equipo">
            <h3><span>[[equipo.local]]</span> vs <span>[[equipo.visitante]]</span></h3>
            <h3>[[equipo.puntosLocal]] - [[equipo.puntosVisitante]]</h3>
            <p>Puntos: [[equipo.puntos]]</p>
            <p>Rebotes: [[equipo.rebotes]]</p>
            <p>Asistencias: [[equipo.asistencias]]</p>
        </template>
    </template>

    <script>
        /**
         * `stats-card` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class StatsCard extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'stats-card';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                    equipos: Array,
                };
            }

            constructor() {
                super();
            }

            ready() {
                super.ready();
            }

        }

        window.customElements.define(StatsCard.is, StatsCard);
    </script>
</dom-module>