<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="team-card">
  <template>
    <style>
       :host {
           display: block;
           width: 100%;
       }
        paper-card {
            max-width: 500px;
            width: 100%;
            margin-bottom:8%;
            
            --paper-card-header-image: {
                height: 300px;
            }
            --paper-card-header-text: {
                color: white;
                font-size: 35px;
                font-weight: bold;
                background-color: rgba(0,0,0,0.5);
              };
        }
        #plantilla {
            color: var(--google-blue-500);
        }
        a {
            text-decoration: none;
        }
        .card-content { 
            color: var(--paper-grey-700); 
            margin: 10px 0; 
        }
        .card-actions {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        paper-button {
            height: 35px;
            margin: 5px;
        }
        .btn-edit {
            background-color: var(--google-green-500);
            color: white;
        }
        .btn-delete {
            background-color: var(--google-red-500);
            color: white;
        }
        strong {
            color:black;
        }


    </style>
    
    <div class="content">
        <paper-card class="card" heading="[[nombre]]" image="[[imagen]]" alt="Equipo [[nombre]]">
            <div class="card-content">
                <strong><iron-icon icon="maps:place"></iron-icon>[[localidad]]</strong>
                <p><strong>Campo:</strong>[[campo]]</p>
                <p><strong>Web:</strong>[[web]]</p>
            </div>
            <div class="card-actions">
                <a id="plantilla" href="[[plantilla]]"><paper-button noink>Ver Plantilla</paper-button></a>
                <a href="[[editar]]"><paper-button class="btn-edit" raised><iron-icon icon="editor:mode-edit"></iron-icon>Editar</paper-button></a>
                <paper-button class="btn-delete" raised on-click="abrirDialog"><iron-icon icon="delete"></iron-icon>Borrar</paper-button>
            </div>
        </paper-card>
    </div>

    <paper-dialog id="deleteDialog" with-backdrop>
            <h2>¿Desea eliminar el equipo [[nombre]]?</h2>
            <p>No se podrán deshacer los cambios.</p>
            <a href="[[borrar]]"><paper-button dialog-confirm autofocus>Aceptar</paper-button></a>
            <paper-button dialog-dismiss>Cancelar</paper-button>
    </paper-dialog>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TeamCard extends Polymer.Element {
        static get is() { return 'team-card'; }
        static get properties() {
            return {
            nombre: String,
            imagen: String,
            localidad: String,
            campo: String,
            web: String,
            plantilla: String,
            editar: String,
            borrar: String,
            };
        }

        constructor() {
            super();
        }

        ready() {
            super.ready();
        }

        abrirDialog() {
            document.body.appendChild(this.$.deleteDialog);
            this.$.deleteDialog.open();
        }
    }

    window.customElements.define(TeamCard.is, TeamCard);
  </script>
</dom-module>
