{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="{% static 'polymer/manifest.json' %}">
    <script src="{% static 'polymer/bower_components/webcomponentsjs/webcomponents-loader.js' %}"></script>
    <link rel="import" href="{% static 'polymer/src/ballaverage-app/ballaverage-app.html' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block page_title  %}{% endblock %}</title>
    
    {% block page_head %}{% endblock %}
</head>
<body>
    <nav>
        <ballaverage-app 
            title="BallAverage{% block title %}{% endblock %}"
            usuario="{{ user }}"
            email="{{ user.email }}"
        ></ballaverage-app>
    </nav>
    <section>
        {% block page_content  %}{% endblock %}
    </section>
</body>
</html>