{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>{% block page_title  %}BallAverage{% endblock %}</title>
</head>
<body id="body-login">
    <section>
        {% block page_content  %}{% endblock %}
    </section>
    <footer>
        <hr>
        <div class="foot">
            <p>© 2018 BallAverage</p>
        </div>
    </footer>
</body>
</html>